{% extends 'BattleBundle:Top:base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href={{ asset("bundles/battle/css/stylish-portfolio.css") }} rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>ポケモンバトル記録ツール</h1>
            <h3>シングル専用対戦記録ツール</h3>
            <br>
            <a href="#about" class="btn btn-dark btn-lg">Find Out More</a>
        </div>
    </header>

    {% include 'BattleBundle:Top:content.html.twig' %}

    {% include 'BattleBundle:Top:update.html.twig' %}

    {% include 'BattleBundle:Top:footer.html.twig' %}

{% endblock %}
