{% extends 'BattleBundle:Top:base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href={{ asset("bundles/battle/css/top_user.css") }} rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1 class="page-header"> パーティー一覧 </h1>
    <a class="btn btn-default" href="/party/new" role="button">パーティー追加</a>
    <div class="panel panel-default">
        <div class="panel-heading">
            厨ポケ
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-2">
                    <div class="poke-name">ギルガルド@弱点保険</div>
                </div>
                <div class="col-lg-2">
                    <div class="poke-name">ボーマンダ@メガ</div>
                </div>
                <div class="col-lg-2">
                    <div class="poke-name">ガブリアス@ドラゴンZ</div>
                </div>
                <div class="col-lg-2">
                    <div class="poke-name">ギャラドス@メガ</div>
                </div>
                <div class="col-lg-2">
                    <div class="poke-name">ミミッキュ@きあいのタスキ</div>
                </div>
                <div class="col-lg-2">
                    <div class="poke-name">カプコケコ@いのちのたま</div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <a href="#">詳細</a>
            <a href="/battle">このパーティで対戦</a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            ヤロテスタント
        </div>
        <div class="panel-body">
            <div class="col-lg-2">
                <div class="poke-name">ドサイドン@たつじんの帯</div>
            </div>
            <div class="col-lg-2">
                <div class="poke-name">キテルグマ@ゴツゴツメット</div>
            </div>
            <div class="col-lg-2">
                <div class="poke-name">ベトベトン[ア]@とつげきチョッキ</div>
            </div>
            <div class="col-lg-2">
                <div class="poke-name">アシレーヌ@アシレーヌZ</div>
            </div>
            <div class="col-lg-2">
                <div class="poke-name">パルシェン@おうじゃのしるし</div>
            </div>
            <div class="col-lg-2">
                <div class="poke-name">ガラガラ[ア]@ふといホネ</div>
            </div>
        </div>
        <div class="panel-footer">
            <a href="#">詳細</a>
            <a href="/battle">このパーティで対戦</a>
        </div>
    </div>
{% endblock %}
